{% extends 'layouts/base_app.html' %}
{% block content %}
{{ block.super }}
<div class="page-content" id="content">
    <div class="container-fluid app__viewport">
        <div class="row pt-3 pb-3 app__background--cyan">
            <div class="col">
                <h5 class="text-center text-white text-uppercase">
                    Opciones de Configuración
                </h5>
            </div>
        </div>
        <div class="row pt-2 pb-2 app__viewport--settings">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 m-auto app__background--white app__border_alt--gray-200">
                <ul class="list-group list-group-flush app__nav--settings">
                    <a
                        class="list-group-item text-decoration-none"
                        href="{% url 'settings:update_currency' %}"
                    >
                        <li class="d-flex justify-content-between align-items-center">
                            <div class="">
                                    Administrar monedas
                                <p class="small mb-0">Mostrar todas las monedas registradas en la aplicación</p>
                            </div>
                            <i class="mdi mdi-currency-usd app__button--icon"></i>
                        </li>
                    </a>
                    <a
                        class="list-group-item text-decoration-none"
                        href="{% url 'settings:update_current_user' %}"
                    >
                        <li class="d-flex justify-content-between align-items-center">
                            <div class="">
                                    Perfil de usuario
                                <p class="small mb-0">Nombre y correo de usuario, cambio de contraseña</p>
                            </div>
                            <i class="mdi mdi-account app__button--icon"></i>
                        </li>
                    </a>
                    <a
                        class="list-group-item text-decoration-none"
                        href="{% url 'settings:update_company' %}"
                    >
                        <li class="d-flex justify-content-between align-items-center">
                            <div class="">
                                    Perfil de compañía
                                <p class="small mb-0">Nombre de la compañía, jefe de la compañía</p>
                            </div>
                            <i class="mdi mdi-factory app__button--icon"></i>
                        </li>
                    </a>
                    {% if user.is_superuser or user.is_staff %}
                        <a
                            class="list-group-item text-decoration-none"
                            href="{% url 'settings:company_users_list' %}"
                        >
                            <li class="d-flex justify-content-between align-items-center">
                                <div class="">
                                        Administrador de usuarios
                                    <p class="small mb-0">Crear nuevo usuario miembro, editar y eliminar los usuarios miembro</p>
                                </div>
                                <i class="mdi mdi-account-group app__button--icon"></i>
                            </li>
                        </a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}