{% extends 'layouts/base_app.html' %}

{% load safe_js %}
{% load static %}


{% block content %}
{{block.super}}
<div class="page-content container" id="content">
    <h1>Gráficas y estadisticas</h1>

    <div class="row">
        <h2>Comportamiento del dolar</h2>
    </div>

    <div id="dolar_prices_graph" class="col-8" style="height: 350px;"></div>

    {% comment %} [[dolar_prices]] {% endcomment %}
 

</div>

{% endblock content %}


{% block javascript %}
{{block.super}}
<script src="{% static 'js/google_charts/loader.js' %}"></script>
<!-- <script src="{% static 'js/google_charts/jsapi.js' %}"></script> -->


<script type="text/javascript">

google.charts.load('visualization', '1.0', { 'packages': ['corechart','controls'], 'callback': drawChart });

// google.load('visualization', '1.0', {
//     'packages': ['corechart']
// });

function buildData(columns, rows) {
    let data = new google.visualization.DataTable();
    columns.forEach(el => {
        data.addColumn(el.type , el.label );
    });
    data.addRows(rows);
    return data
}

function drawChart() {

    let columns = {{ dolar_prices_cols | safe }};
    let rows = {{ dolar_prices_rows | safe }};

    let options = {
        title: 'Precio del dolar',
        hAxis: { title: 'Fecha', titleTextStyle: { color: '#333' } },
        vAxis: { minValue: 0 }
    };
    let html_id = 'dolar_prices_graph';

    let data = buildData(columns, rows)

    var cha = new Graph2D(html_id,data, options);
    cha.drawLine();
}

class Graph2D{
    constructor(html_id,data, options){
        this.html_id = html_id;
        // this.data = new google.visualization.DataTable();
        // this.columns = columns; // vector de diccionarios con type y label
        // this.rows = rows;
        this.data = data;
        this.options = options;
        this.component = document.getElementById(html_id);
        this.chart = new google.visualization.ChartWrapper(
            this.component
        );

        // this.buildData();
        // this.drawLine();
        // console.log(this.component);
    }

    // buildData(){
    //     self = this;
    //     this.columns.forEach(el => {
    //         self.data.addColumn(el.type , el.label );
    //     });
    //     this.data.addRows(this.rows);
    // }

    drawChart(){
        this.chart.draw(this.data, this.options);
    }

    drawLine(){
        this.setChartType('LineChart');
        this.drawChart();
    }

    setChartType(chartType){
        this.chart.setChartType(chartType);
    }

    setChartData(data){
        this.chart.setDataTable(data);
    }

}


var app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    data:{
        'dolar_prices': {
            name: 'Precios del dolar',
            data: {{dolar_prices_rows | safe }},
            cols: ['Fecha', 'Precio del Dolar']
        },
    }
})



</script>
{% endblock javascript %}