{% extends 'layouts/base_app.html' %}

{% load safe_js %}
{% load static %}

{% block head %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/apexcharts.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">

{% endblock head %}

{% block content %}
{{block.super}}
<div class="page-content" id="content">
    <div class="container-fluid app__background_gradient--lemon vh-100 overflow-y-scroll">
        <div class="row pt-3 pb-3">
            <div class="col">
                <h3 class="text-center font-weight-bold text-uppercase">
                    Gráficas y Estadísticas
                </h3>
            </div>
        </div>
        {% comment %} <div class="row mb-3 pt-3 pb-3">
            <div class="col">
                <div class="app__background--white p-2 rounded shadow">
                    <a href="{% url 'graphics:report' %}"
                        class="m-1 rounded-pill app__button button--blue mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        Generar Reporte
                    </a>
                </div>
            </div>
        </div> {% endcomment %}
        <div class="row pt-3 pb-3">
            <div class="col-12">
                <div class="app__background--white rounded shadow">
                    <div class="container-fluid">
                        <div class="row pt-2">
                            <div class="col-12 pb-2">
                                <h4 class="text-center font-weight-bold text-uppercase">
                                    Comportamiento del Dólar
                                </h4>
                            </div>
                            <div class="col-12 pb-3">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="d-flex flex-row justify-content-between align-items-center">
                                            <h6 class="font-weight-bold text-uppercase m-0">
                                                [[dolar_chart.title]]
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="card-body p-2">
                                        <div class="d-flex justify-content-center align-content-center p-3" >
                                            <i class="app__text--gray-400 mdi mdi-chart-line mdi-24px px-2  "
                                                data-toggle="tooltip"
                                                data-placement="top"
                                                style="cursor: pointer;"
                                                title="Gráfica de Línea"
                                                @click="setObjLine(dolar_chart)"
                                                v-bind:class="{ 'text-primary': dolar_chart.type=='line' }"
                                            ></i>
                                            <i class="app__text--gray-400 mdi mdi-chart-areaspline-variant mdi-24px px-2  "
                                                data-toggle="tooltip"
                                                data-placement="top"
                                                style="cursor: pointer;"
                                                title="Gráfica de Área"
                                                @click="setObjArea(dolar_chart)"
                                                v-bind:class="{ 'text-primary': dolar_chart.type=='area' }"
                                            ></i>
                                            <i class="app__text--gray-400 mdi mdi-chart-line-variant mdi-24px px-2  "
                                                data-toggle="tooltip"
                                                data-placement="top"
                                                style="cursor: pointer;"
                                                title="Línea de Gráfica Recta"
                                                @click="setObjStraightLine(dolar_chart)"
                                                v-bind:class="{ 'text-primary': dolar_chart.line_stroke=='straight' }"
                                            ></i>
                                            <i class="app__text--gray-400 mdi mdi-chart-bell-curve mdi-24px px-2  "
                                                data-toggle="tooltip"
                                                data-placement="top"
                                                style="cursor: pointer;"
                                                title="Línea de Gráfica Curva"
                                                @click="setObjCurveLine(dolar_chart)"
                                                v-bind:class="{ 'text-primary': dolar_chart.line_stroke=='smooth' }"
                                            ></i>
                                            <i class="app__text--gray-400 mdi mdi-chart-histogram mdi-24px px-2  "
                                                data-toggle="tooltip"
                                                data-placement="top"
                                                style="cursor: pointer;"
                                                title="Línea de Gráfica Pasos"
                                                @click="setObjStepLine(dolar_chart)"
                                                v-bind:class="{ 'text-primary': dolar_chart.line_stroke=='stepline' }"
                                            ></i>
                                        </div>
                                        <apexchart class="" :type="dolar_chart.type" height=400 :options="buildOptions(dolar_chart.title,dolar_chart.yaxis,dolar_chart.line_stroke)" :series="dolar_chart.series" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-2 pb-3 mt-3">
            <div class="col-12">
                <div class="app__background--white rounded shadow">
                    <div class="container-fluid">
                        <div class="row pt-2">
                            <div class="col-12">
                                <div class="container-fluid">
                                    <h4 class="text-center font-weight-bold text-uppercase">
                                        Comportamiento de las Materias Primas
                                    </h4>
                                    <div class="form-row pt-2">
                                        <div class="form-group col-12 col-md-6">
                                            <div class="app__form--textfield w-100">
                                                <label class="ml-auto" for="graphs_material">
                                                    Seleccione una materia prima para graficar
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group col-12 col-md-3">
                                            <div class="app__form--select w-100">
                                                <select id="graphs_material" v-model="selected_graph" class="selectpicker" data-live-search="true" title="Selecciona">
                                                    <option v-for="option in materials_options" v-bind:value="option.key">
                                                        [[option.name]]
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row" v-if="selected_graph != 0">
                                    <div class="col-12 pb-3" v-for="(graph, index) in current_graph.graphs" :key="index">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="d-flex flex-row justify-content-between align-items-center">
                                                    <h6 class="font-weight-bold text-uppercase m-0">
                                                        [[graph.title]]
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="card-body p-2">
                                                <div class="d-flex justify-content-center align-content-center p-3" >
                                                    <i class="app__text--gray-400 mdi mdi-chart-line mdi-24px px-2  "
                                                        data-toggle="tooltip"
                                                        data-placement="top"
                                                        style="cursor: pointer;"
                                                        title="Gráfica de Línea"
                                                        @click="setObjLine(graph)"
                                                        v-bind:class="{ 'text-primary': graph.type=='line' }"
                                                    ></i>
                                                    <i class="app__text--gray-400 mdi mdi-chart-areaspline-variant mdi-24px px-2  "
                                                        data-toggle="tooltip"
                                                        data-placement="top"
                                                        style="cursor: pointer;"
                                                        title="Gráfica de Área"
                                                        @click="setObjArea(graph)"
                                                        v-bind:class="{ 'text-primary': graph.type=='area' }"
                                                    ></i>
                                                    <i class="app__text--gray-400 mdi mdi-chart-line-variant mdi-24px px-2  "
                                                        data-toggle="tooltip"
                                                        data-placement="top"
                                                        style="cursor: pointer;"
                                                        title="Línea de Gráfica Recta"
                                                        @click="setObjStraightLine(graph)"
                                                        v-bind:class="{ 'text-primary': graph.line_stroke=='straight' }"
                                                    ></i>
                                                    <i class="app__text--gray-400 mdi mdi-chart-bell-curve mdi-24px px-2  "
                                                        data-toggle="tooltip"
                                                        data-placement="top"
                                                        style="cursor: pointer;"
                                                        title="Línea de Gráfica Curva"
                                                        @click="setObjCurveLine(graph)"
                                                        v-bind:class="{ 'text-primary': graph.line_stroke=='smooth' }"
                                                    ></i>
                                                    <i class="app__text--gray-400 mdi mdi-chart-histogram mdi-24px px-2  "
                                                        data-toggle="tooltip"
                                                        data-placement="top"
                                                        style="cursor: pointer;"
                                                        title="Línea de Gráfica Pasos"
                                                        @click="setObjStepLine(graph)"
                                                        v-bind:class="{ 'text-primary': graph.line_stroke=='stepline' }"
                                                    ></i>
                                                </div>
                                                <apexchart class="" :type="graph.type" height=400 :options="buildOptions(graph.title,graph.yaxis_title,graph.line_stroke)" :series="graph.series" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block javascript %}
{{block.super}}
<script src="{% static 'js/bootstrap_select/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/apexcharts/apexcharts.min.js' %}" ></script>
<script src="{% static 'js/apexcharts/vue-apexcharts.js' %}"></script>
<script src="{% static 'js/apexcharts/es_locale.js' %}" ></script>

<script type="text/javascript">

$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})

var app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    components: {
        apexchart: VueApexCharts,
    },
    data: function(){
        return {
            dolar_chart: {{dolar_graph | safe }},
            materials_graph: {{ materials_graph | safe}},
            materials_options: {{graphed_materials | safe }},
            selected_graph: 0,
        }
    },
    methods: {
        buildOptions: function(title, yaxis_title, lineStroke) {
            let charDefaultsOptions = {
                chart: {
                    locales: [apexchart_locale_es],
                    defaultLocale: 'es',
                    stacked: false,
                    zoom: {
                        enabled: true,
                    },
                    toolbar: {
                        autoSelected: 'zoom'
                    }
                },
                colors: ['#04a08e', '#F4B030'],
                dataLabels: {
                    enabled: true
                },
                stroke: {
                    curve: lineStroke
                },
                // title: {
                //     text: title,
                //     align: 'left',
                //     style: {
                //         fontSize: '18px'
                //     },
                // },
                grid: {
                    row: {
                        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                        opacity: 0.5
                    },
                },
                yaxis: {
                    'title': {
                        'text': yaxis_title
                    },
                    'min': 0,

                },
                xaxis: {
                    type: 'datetime',
                    tickAmount: 6,
                },
                tooltip: {
                    x: {
                        format: 'dd MMMM yyyy'
                    }
                }
            }

            return charDefaultsOptions;
        },
        setObjArea: function(obj){
            obj.type = 'area';
        },
        setObjLine: function(obj){
            obj.type = 'line';
        },
        setObjStraightLine: function(obj){
            obj.line_stroke = 'straight';
        },
        setObjCurveLine: function(obj){
            obj.line_stroke = 'smooth';
        },
        setObjStepLine: function(obj){
            obj.line_stroke = 'stepline';
        },
        updateToolTip: function(){
            setTimeout(function () {
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip();
                })
            },0);
        },
    },
    computed: {
        current_graph: function() {
            this.updateToolTip();
            return this.materials_graph[this.selected_graph];
        }
    }
})

</script>

{% endblock javascript %}