{% extends 'layouts/base_app.html' %}


{% block content %}
{{block.super}}

<div class="page-content" id="content">
    <div class="container-fluid app__background_gradient--lemon vh-100 overflow-y-scroll">
        <div class="row pt-3 pb-3">
            <div class="col">
                <h3 class="text-center font-weight-bold text-uppercase">
                    Generador de Reportes
                </h3>
            </div>
        </div>
        <div class="row mb-3 pt-3 pb-3">
            <div class="col">
                <div class="app__background--white p-2 rounded shadow">
                    <a href="{% url 'graphics:graphs' %}"
                        class="m-1 rounded-pill app__button button--blue mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        Volver
                    </a>
                </div>
            </div>
        </div>


    </div>
</div>


{% endblock content %}