.pointer_events__all {
    pointer-events: all;
    &:hover{
        background: black;
    }
}
.calendar_box{
    margin-top: 25%;
    width: 100%;
    height: 65%;
}


.fc-custom.fc{
    width: 100%;
    height: 100%;
    .fc-center{
        > div{
            display: flex;
            
            > button{
                padding: 0px 5px;
            }
        }
    }
}
