.app {
  &__item {
    &--hidden {
      transition: all 0.4s;
    }

  }

  &__nav--link {
    padding-left: 15px !important;

    i {
      font-size: 20px;
      margin-right: 15px;
    }

    &:focus {
      color: $cyan !important;

      i {
        color: $cyan;
      }
    }
  }

  &__media {
    border-left: solid 2px $light_cyan;
  }

  &__tooltip:hover {
    &::after {
      content: attr(data-toggle);
      position: absolute;
      color: #f8f9fa;
      background: #1a1a1a;
      left: 110%;
      width: max-content;
      padding: 4px;
      border-radius: 4px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 90%;
      border-width: 5px;
      border-style: solid;
      border-color: transparent #1a1a1a transparent transparent;
    }
  }

  &__navigation {
    background: #1a1a1a;

    width: 17rem;
    .app__item--hidden{
      margin-left: 0 ;
    }
    .nav-item{
      width: 17rem;
    }
    .nav--menu {
      width: 17rem;
    }
    .app__nav--link{
      &::before{
        content: none;
      }
      &::after {
        content: none;
      }
    }
    #nav_menu {
      border-bottom: solid 1px #383838;
    }
    #arrow{
      transform: rotate(0deg);
    }

    &.nav__toggled{ //Estilos Cuando la barra de navegacion se reduce
      width: 50px;
      .app__item--hidden {
        margin-left: -17rem;
      }

      .nav-item{
        width: 50px;
      }
      .nav--menu{
        width: 50px;
      }

      .app__nav--link{
        @extend .app__tooltip ;
      }

      #nav_menu {
        border-bottom: solid 1px rgba(0, 0, 0, 0);
      }
      #arrow {
        transform: rotate(-180deg);
      }
    }

    .nav--button {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 20px;
      margin: 5px 15px 5px 15px;
      color: $light_gray;

      &:hover {
        color: #f8f9fa;
      }
    }

    .nav--settings {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 20px;
      margin: 5px 15px 5px 15px;
      color: $light_gray;

      &:hover {
        color: #f8f9fa;
      }
    }

    .nav--bg_light {
      background: #333;
    }

    .nav--menu {
      // min-width: 17rem !important;

      li {
        overflow: hidden;
        width: 17rem;
        transition: all 0.4s;

        a {
          min-width: 17rem ;
        }

        &:hover {
          background: #333;
          transition: all 0s;

          a {
            color: #f8f9fa;
          }
        }
      }
    }
  }

}

#arrow {
  transition: all 0.4s;
}

#nav_menu {
  transition: all 0.4s;
}

.vertical-nav {
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;

}

#content.active {
  width: calc(100% - 50px);
  margin: 0;
  margin-left: 50px;
}

#content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}
