.app {
  &__item {
    &--hidden {
      transition: all 0.4s;
    }

  }

  &__nav--link {
    padding-left: 15px !important;

    i {
      font-size: 20px;
      margin-right: 15px;
    }

    &:focus {
      color: $cyan !important;

      i {
        color: $cyan;
      }
    }
  }

  &__media {
    border-left: solid 2px $light_cyan;
  }

  &__tooltip:hover {
    &::after {
      content: attr(data-toggle);
      position: absolute;
      color: #f8f9fa;
      background: #1a1a1a;
      left: 110%;
      width: max-content;
      padding: 4px;
      border-radius: 4px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 90%;
      border-width: 5px;
      border-style: solid;
      border-color: transparent #1a1a1a transparent transparent;
    }
  }

  &__navigation {
    background: #1a1a1a;

    .nav--button {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 20px;
      margin: 5px 15px 5px 15px;
      color: $light_gray;

      &:hover {
        color: #f8f9fa;
      }
    }

    .nav--settings {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 20px;
      margin: 5px 15px 5px 15px;
      color: $light_gray;
      // transition: all 0.4s;

      &:hover {
        color: #f8f9fa;
      }
    }

    .nav--bg_light {
      background: #333;
    }

    .nav--menu {
      min-width: 17rem !important;

      li {
        overflow: hidden;
        width: 17rem;
        transition: all 0.4s;

        a {
          min-width: 17rem !important;
        }

        &:hover {
          background: #333;
          transition: all 0s;

          a {
            color: #f8f9fa;
          }
        }
      }
    }
  }

}

#arrow {
  transition: all 0.4s;
}

#nav_menu {
  border-bottom: 1px solid #383838;
  transition: all 0.4s;
}

.vertical-nav {
  // min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;

  // overflow: hidden;
}

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}
