$font_folder_url: '../fonts/';

@for $i from 0 to 10 {
    .z__#{$i} {
        z-index: $i;
    }
}

@font-face {
    font-family: 'Lato';
    src: url("#{$font_folder_url}Lato-Regular.ttf");
}

html, body {
    font-family: 'Lato' !important;
    margin: 0;
    height: 100%;
}
