.app {
  &__viewport {
    height: 100vh;
    overflow-y: auto;

    &--settings {
      height: calc(100vh - 64px);
    }
  }
  &__background_gradient {
    &--pastel {
      background: rgb(189, 215, 245);
      background: linear-gradient(
        45deg,
        rgba(189, 215, 245, 1) 0%,
        rgba(217, 252, 255, 1) 45%,
        rgba(255, 255, 255, 1) 100%
      );
    }
    &--cyan {
      background: rgb(106, 224, 202);
      background: linear-gradient(
        145deg,
        rgba(106, 224, 202, 1) 0%,
        rgba(26, 191, 171, 1) 100%
      );
    }
  }

  &__button {
    .other__button {
      border-width: 2px;
      padding-left: 15px;
      padding-right: 15px;
    }

    &--icon {
      margin-left: 5px;
      margin-right: 5px;
      font-size: 20px;
      color: map-get($project_colors, "light_gray");

      &:hover {
        text-decoration: none;
        color: map-get($project_colors, "deep_blue");
      }

      &.icon--trash {
        color: map-get($project_colors, "light_gray");

        &:hover {
          color: map-get($project_colors, "red");
        }
      }

      &.icon--calendar {
        margin-left: 0px;
        margin-right: 0px;
        &_sale {
          color: map-get($project_colors, "deep_blue");

          &:hover {
            color: map-get($project_colors, "dark_blue");
          }
        }
      }

      &.button--back {
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 26px;
        }

        &:hover {
          text-decoration: none;
          color: map-get($project_colors, "cyan");
        }
      }
    }

    &.button--fab {
      min-width: 36px;
      width: 36px;
      height: 36px;

      display: flex;
      align-items: center;
      justify-content: center;
      i {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &:hover {
      text-decoration: none;
    }

    &:active {
      box-shadow: none !important;
    }

    &.button--cyan {
      background-color: map-get($project_colors, "cyan");
      //   border-color: $cyan;
      color: white;

      &:hover {
        background-color: map-get($project_colors, "light_cyan");
        // border-color: $cyan;
        color: white;
        transition: all ease 0.2s;
      }
    }

    &.button--blue {
      background-color: map-get($project_colors, "deep_blue");
      color: white;

      &:hover {
        background-color: map-get($project_colors, "dark_blue");
        color: white;
        transition: all ease 0.2s;
      }
    }

    &.button--red {
      background-color: map-get($project_colors, "red");
      color: white;

      &:hover {
        background-color: map-get($project_colors, "dark_red");
        color: white;
        transition: all ease 0.2s;
      }
    }

    // &.button--green {
    //   background-color: map-get($project_colors, "cyan");
    //   color: white;

    //   &:hover {
    //     background-color: map-get($project_colors, "dark_cyan");
    //     color: white;
    //     transition: all ease 0.2s;
    //   }
    // }

    &.button--ligth_green {
      background-color: white;
      border-color: $ligth_green;
      color: $ligth_green;

      &:hover {
        background-color: $ligth_green;
        border-color: $ligth_green;
        color: white;
        transition: all ease 0.2s;
      }
    }

    &.button--dark_gray {
      background-color: white;
      border-color: $dark_gray;
      color: $dark_gray;

      &:hover {
        background-color: $dark_gray;
        border-color: $dark_gray;
        color: white;
        transition: all ease 0.2s;
      }
    }

    &.button--deep_blue {
      background-color: white;
      border-color: $deep_blue;
      color: $deep_blue;

      &:hover {
        background-color: $deep_blue;
        border-color: $deep_blue;
        color: white;
        transition: all ease 0.2s;
      }
    }
  }

  &__nav {
    &--settings {
      a {
        li {
          color: map-get($project_colors, "gray-600");
        }
        i {
          color: map-get($project_colors, "gray-600");
        }
        p {
          color: map-get($project_colors, "gray-400");
        }
        &:hover {
          background-color: map-get($project_colors, "gray-100");
          li {
            color: map-get($project_colors, "cyan");
          }
          i {
            color: map-get($project_colors, "cyan");
          }
        }
      }
    }

    &--system {
      a {
        li {
          color: map-get($project_colors, "gray-600");
        }
        i {
          color: map-get($project_colors, "gray-600");
        }
        p {
          color: map-get($project_colors, "gray-400");
        }
        &:hover {
          background-color: map-get($project_colors, "gray-100");
          li {
            color: map-get($project_colors, "deep_blue");
          }
          i {
            color: map-get($project_colors, "deep_blue");
          }
        }
      }
    }
  }

  &__page-item {
    a {
      color: map-get($project_colors, "deep_blue") !important;

      &:hover {
        color: map-get($project_colors, "dark_blue") !important;
      }
    }
  }

  &__input {
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-radius: 0px;

    &:focus {
      box-shadow: none !important;
      border-color: $light_cyan;
      transition: all ease 0.2s;
    }
  }

  &__link {
    color: $cyan;

    &:hover {
      color: $light_cyan;
    }
  }

  &__form--error {
    font-size: 14px;
  }

  &__icon--input {
    font-family: "Material Design Icons";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
  }

  &__icon--alert {
    font-size: 30px;
  }

  &__form {
    &--textfield {
      height: 100%;
      padding-bottom: 20px;
      display: flex;
      align-items: center;

      label {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.26);
        margin: 0;
      }

      .mdl-textfield__error {
        visibility: visible;
      }
    }

    &--select {
      padding-bottom: 20px;

      .dropdown {
        width: 100% !important;

        // :focus {
        //   box-shadow: none !important;
        // }

        .btn {
          &:focus {
            outline: none !important;
            outline-width: 0 !important;
            box-shadow: none !important;
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
          }
        }
      }
    }

    &--switch {
      // font-size: 18px;

      // :focus {
      //   outline: none !important;
      //   outline-width: 0 !important;
      //   box-shadow: none !important;
      //   -moz-box-shadow: none !important;
      //   -webkit-box-shadow: none !important;
      // }

      input:focus + label {
        &::before {
          // outline: none !important;
          // outline-width: 0 !important;
          // box-shadow: none !important;
          // -moz-box-shadow: none !important;
          // -webkit-box-shadow: none !important;
          border-color: map-get($project_colors, "gray-500") !important;
        }
      }

      input:checked + label {
        &::before {
          background-color: map-get($project_colors, "dark_blue") !important;
          border-color: map-get($project_colors, "dark_blue") !important;
        }
      }
    }
    &--check {
      input:focus + label {
        &::before {
          // outline: none !important;
          // outline-width: 0 !important;
          // box-shadow: none !important;
          // -moz-box-shadow: none !important;
          // -webkit-box-shadow: none !important;
          border-color: map-get($project_colors, "gray-500") !important;
        }
      }

      input:checked + label {
        &::before {
          background-color: map-get($project_colors, "dark_blue") !important;
          border-color: map-get($project_colors, "dark_blue") !important;
        }
      }
    }

    &--print {
      label {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.26);
        transition: all 0.2s;
      }

      p {
        font-size: 18px;
        @extend .app__vertical_border--dark_blue;
      }

      ._form-input {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        width: 100%;
        font-size: 18px;
        transition: all 0.2s;
        @extend .app__border_bottom--gray-200;

        &:focus {
          outline: none !important;
          outline-width: 0 !important;
          box-shadow: none !important;
          -moz-box-shadow: none !important;
          -webkit-box-shadow: none !important;
        }
      }
    }
  }
}
button:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.form-control:focus {
  border-color: map-get($project_colors, "deep_blue") !important;
}

.reset_select_picker {
  .dropdown {
    .btn {
      &:focus {
        outline: none !important;
        outline-width: 0 !important;
        box-shadow: none !important;
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
      }
    }
  }
}

//Scrollbar options
/* width */
*::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
/* Track */
*::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
*::-webkit-scrollbar-thumb {
  background: rgba(map-get($project_colors, "gray-300"),0.5);
  border-radius: 0px;
}
/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: rgba(map-get($project_colors, "gray-400"),0.6);
}
/* Handle on active */
*::-webkit-scrollbar-thumb:active {
  background: rgba(map-get($project_colors, "light_cyan"),0.9);
}
