.app {
  &__button {
    border-width: 2px;
    padding-left: 15px;
    padding-right: 15px;

    &--icon {
      margin-left: 5px;
      margin-right: 5px;
      font-size: 20px;
      color: map-get($project_colors, "light_gray");

      &:hover {
        text-decoration: none;
        color: map-get($project_colors, "deep_blue");
      }

      &.icon--trash {
        color: map-get($project_colors, "light_gray");

        &:hover {
        color: map-get($project_colors, "red");
        }
      }

    }
    &:active {
      box-shadow: none !important;
    }

    &.button--cyan {
      background-color: map-get($project_colors, light_cyan);
      //   border-color: $cyan;
      color: white;

      &:hover {
        background-color: map-get($project_colors, "cyan");
        // border-color: $cyan;
        color: white;
        transition: all ease 0.2s;
      }
    }

    &.button--ligth_green {
      background-color: white;
      border-color: $ligth_green;
      color: $ligth_green;

      &:hover {
        background-color: $ligth_green;
        border-color: $ligth_green;
        color: white;
        transition: all ease 0.2s;
      }
    }

    &.button--dark_gray {
      background-color: white;
      border-color: $dark_gray;
      color: $dark_gray;

      &:hover {
        background-color: $dark_gray;
        border-color: $dark_gray;
        color: white;
        transition: all ease 0.2s;
      }
    }

    &.button--deep_blue {
      background-color: white;
      border-color: $deep_blue;
      color: $deep_blue;

      &:hover {
        background-color: $deep_blue;
        border-color: $deep_blue;
        color: white;
        transition: all ease 0.2s;
      }
    }
  }

  &__input {
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-radius: 0px;

    &:focus {
      box-shadow: none !important;
      border-color: $light_cyan;
      transition: all ease 0.2s;
    }
  }

  &__link {
    color: $cyan;

    &:hover {
      color: $light_cyan;
    }
  }

  &__form--error {
    font-size: 14px;
  }

  &__icon--input {
    font-family: "Material Design Icons";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
  }

  &__icon--alert {
    font-size: 30px;
  }
}
