#Librerias del proyecto

#Framework web
Django~=2.2

#django form frontend helper
django-widget-tweaks~=1.4

#base de datos postgre para django
psycopg2-binary~=2.8

#matrices y datos
numpy==1.17.*

#matrices y datos
pandas==0.25.*

#prediccion y machine learning
scikit-learn==0.21.*

#graficos
matplotlib==3.1.*

#graficos de matplotlib bonitos
seaborn==0.9.*

#codificador de categorias
category_encoders==2.1.*