{% extends 'layouts/base.html' %}
{# to use widget_tweaks #}
{% load widget_tweaks %}

{% block content %}
    <div class="bg__black_gradient d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="card m-4" style="width: 25rem;">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 m-auto">
                            <h2 class="text-center">
                                Inicio de Sesión
                            </h2>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col pl-1 pr-1">
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <div class="d-flex flex-row align-items-center">
                                        <i class="mdi mdi-alert"></i>
                                        <p class="app__form--error text-danger mb-0">
                                            {{ error }}
                                        </p>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-12 m-auto">
                            <form method="POST" action="{% url "users:login" %}" >
                        
                                {% csrf_token %}
                        
                                <div class="form-group" >
                                    {{ form.username.label_tag }}
                                    {% if form.username.errors  %}
                                        {% render_field form.username placeholder=form.username.label class+="app__input form-control is-invalid" type="email" %}
                                        <div class="invalid-feedback">
                                            {% for error in form.username.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {% render_field form.username placeholder=form.username.label class+="app__input form-control" type="email" %}
                                    {% endif %}
                                </div>
                                <div  class="form-group">
                                    {{ form.password.label_tag }}
                                    {% if form.password.errors %}
                                        {% render_field form.password placeholder=form.password.label class+="app__input form-control is-invalid" %}
                                        <div class="invalid-feedback">
                                            {% for error in form.password.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {% render_field form.password placeholder=form.password.label class+="app__input form-control" %}
                                    {% endif %}
                                </div>
                                <div class="col m-auto text-center">
                                    <button class="btn rounded-pill app__button button--cyan" type="submit" >Ingresar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <a class="app__link" href="{% url 'users:signup' %}">Registrarse</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}