{% extends 'layouts/base.html' %}
{# to use widget_tweaks #}
{% load widget_tweaks %}

{% block content %}
    <div class="bg__black_gradient d-flex justify-content-center align-items-md-center align-items-start vh-100 overflow-y-scroll p-4">
        <div class="card m-4" style="width: 25rem;">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row pb-3">
                        <div class="col-12 m-auto">
                            <h2 class="text-center">
                                Inicio de Sesión
                            </h2>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col pl-3 pr-1"
                             style="border-left: solid 2px;
                                    border-color: #dc3545;">
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <div class="d-flex flex-row align-items-center">
                                        <i class="app__icon--alert mdi mdi-alert text-danger"></i>
                                        <p class="app__form--error text-danger mb-0 ml-3">
                                            {{ error }}
                                        </p>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    {% if signed %}
                    <div class="row pb-3">
                        <div class="col pt-1 pb-1">
                            <h6 class="text-center font-weight-bold text-uppercase app__text--light_cyan">Registro exitoso</h6>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row pb-3">
                        <div class="col-12 m-auto">
                            {% if next %}
                                <form action="{% url "users:login" %}?next={{next}}" method="POST" >
                            {% else %}
                                <form action="{% url "users:login" %}" method="POST" >
                            {% endif %}
                            {% csrf_token %}
                                <div class="form-group">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-100">
                                        {% if form.username.errors %}
                                            {% render_field form.username class+="mdl-textfield__input" type="email" id="id_username" %}
                                            <div class="invalid-feedback">
                                                {% for error in form.username.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {% render_field form.username class+="mdl-textfield__input" type="email" id="id_username" %}
                                        {% endif %}
                                        <label class="mdl-textfield__label focused__color__light_cyan material_fix label_placeholder" for="id_username">
                                            <i class="mdi mdi-email mr-1"></i>{{ form.username.label }}
                                        </label>
                                    </div>
                                </div>
                                <div  class="form-group">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-100">
                                        {% if form.password.errors %}
                                            {% render_field form.password class+="mdl-textfield__input" id="id_password" %}
                                            <div class="invalid-feedback">
                                                {% for error in form.password.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {% render_field form.password class+="mdl-textfield__input" id="id_password" %}
                                        {% endif %}
                                        <label class="mdl-textfield__label focused__color__light_cyan material_fix label_placeholder" for="id_password">
                                            <i class="mdi mdi-key mr-1"></i>{{ form.password.label }}
                                        </label>
                                    </div>
                                </div>
                                <div class="col m-auto text-center">
                                    <button class="rounded-pill app__button button--cyan mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit" >
                                        Ingresar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <a class="app__link" href="{% url 'users:signup' %}">Registrarse</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}