{% extends 'layouts/base.html' %}
{# to use widget_tweaks #}
{% load widget_tweaks %}

{% block content %}
<div class="bg__black_gradient d-flex justify-content-center align-items-center">
    <div class="card m-4" style="width: 25rem;">
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 m-auto">
                        <h2 class="text-center">
                            Registro de Compañía
                        </h2>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col pl-1 pr-1">
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
        
                                <p class="app__form--error alert alert-primary text-danger mb-0">
                                    {{ error }}
                                </p>
        
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 m-auto">
                        <form  method="POST" action="{% url "users:signup" %}" >
                        
                            {% csrf_token %}
                        
                            <div class="form-group">
                                {{ form.company_name.label_tag }}
                                {% if form.company_name.errors %}
                                    {% render_field form.company_name placeholder=form.company_name.label class+="app__input form-control is-invalid" type="text" %}
                                    <div class="invalid-feedback">
                                        {% for error in form.company_name.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {% render_field form.company_name placeholder=form.company_name.label class+="app__input form-control" type="text" %}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.email.label_tag }}
                                {% if form.email.errors %}
                                    {% render_field form.email placeholder=form.email.label class+="app__input form-control is-invalid" type="email" %}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {% render_field form.email placeholder=form.email.label class+="app__input form-control" type="email" %}
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 col-sm-12">
                                    {{ form.first_name.label_tag }}
                                    {% if form.first_name.errors %}
                                        {% render_field form.first_name placeholder=form.first_name.label class+="app__input form-control is-invalid" type="text" %}
                                        <div class="invalid-feedback">
                                            {% for error in form.first_name.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {% render_field form.first_name placeholder=form.first_name.label class+="app__input form-control" type="text" %}
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-6 col-sm-12">
                                    {{ form.last_name.label_tag }}
                                    {% if form.last_name.errors %}
                                        {% render_field form.last_name placeholder=form.last_name.label class+="app__input form-control is-invalid" type="text" %}
                                        <div class="invalid-feedback">
                                            {% for error in form.last_name.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {% render_field form.last_name placeholder=form.last_name.label class+="app__input form-control" type="text" %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12 col-sm-12">
                                    {{ form.password.label_tag }}
                                    {% if form.password.errors %}
                                        {% render_field form.password placeholder=form.password.label class+="app__input form-control is-invalid" %}
                                        <div class="invalid-feedback">
                                            {% for error in form.password.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {% render_field form.password placeholder=form.password.label class+="app__input form-control" %}
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-12 col-sm-12">
                                    {{ form.password_confirmation.label_tag }}
                                    {% if form.password_confirmation.errors %}
                                        {% render_field form.password_confirmation placeholder=form.password_confirmation.label class+="app__input form-control is-invalid" %}
                                        <div class="invalid-feedback">
                                            {% for error in form.password_confirmation.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {% render_field form.password_confirmation placeholder=form.password_confirmation.label class+="app__input form-control" %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button class="btn rounded-pill app__button button--cyan" type="submit" >Registrarse</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <a class="app__link" href="{% url 'users:login' %}"> Ya tengo cuenta </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}