{% extends 'layouts/base.html' %}
{# to use widget_tweaks #}
{% load widget_tweaks %}

{% block content %}
<div class="bg__black_gradient scrollbar_alt d-flex justify-content-center align-items-lg-center align-items-start app__viewport p-4">
    <div class="card m-4" style="width: 25rem;">
        <div class="card-body">
            <div class="container-fluid">
                <div class="row pb-3">
                    <div class="col-12 m-auto">
                        <h4 class="text-center font-weight-bold text-uppercase">
                            Registro de Compañía
                        </h4>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col pl-3 pr-1"
                         style="border-left: solid 2px;
                                border-color: #dc3545;">
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <div class="d-flex flex-row align-items-center">
                                    <i class="app__icon--alert mdi mdi-alert text-danger"></i>
                                    <p class="app__form--error text-danger mb-0 ml-3">
                                        {{ error }}
                                    </p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 m-auto">
                        <form  method="POST" action="{% url "users:signup" %}" >
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-100">
                                    {% if form.company_name.errors %}
                                        {% render_field form.company_name class+="mdl-textfield__input" type="text" id="id_company" %}
                                        <span class="mdl-textfield__error text-danger">
                                            {% for error in form.company_name.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </span>
                                    {% else %}
                                        {% render_field form.company_name class+="mdl-textfield__input" type="text" id="id_company" %}
                                    {% endif %}
                                    <label class="mdl-textfield__label focused__color__light_cyan material_fix label_placeholder" for="id_company">
                                        <i class="mdi mdi-factory mr-1"></i>{{ form.company_name.label }}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-100">
                                    {% if form.email.errors %}
                                        {% render_field form.email class+="mdl-textfield__input" type="email" id="id_email" %}
                                        <span class="mdl-textfield__error text-danger">
                                            {% for error in form.email.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </span>
                                    {% else %}
                                        {% render_field form.email class+="mdl-textfield__input" type="email" id="id_email" %}
                                    {% endif %}
                                    <label class="mdl-textfield__label focused__color__light_cyan material_fix label_placeholder" for="id_email">
                                        <i class="mdi mdi-email mr-1"></i>{{ form.email.label }}
                                    </label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 col-sm-12">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-100">
                                        {% if form.first_name.errors %}
                                            {% render_field form.first_name class+="mdl-textfield__input" type="text" id="id_first_name" %}
                                            <span class="mdl-textfield__error text-danger">
                                                {% for error in form.first_name.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </span>
                                        {% else %}
                                            {% render_field form.first_name class+="mdl-textfield__input" type="text" id="id_first_name" %}
                                        {% endif %}
                                        <label class="mdl-textfield__label focused__color__light_cyan material_fix label_placeholder" for="id_first_name">
                                            <i class="mdi mdi-alpha-f-box mr-1"></i>{{ form.first_name.label }}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-12">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-100">
                                        {% if form.last_name.errors %}
                                            {% render_field form.last_name class+="mdl-textfield__input" type="text" id="id_last_name" %}
                                            <span class="mdl-textfield__error text-danger">
                                                {% for error in form.last_name.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </span>
                                        {% else %}
                                            {% render_field form.last_name class+="mdl-textfield__input" type="text" id="id_last_name" %}
                                        {% endif %}
                                        <label class="mdl-textfield__label focused__color__light_cyan material_fix label_placeholder" for="id_last_name">
                                            <i class="mdi mdi-alpha-l-box mr-1"></i>{{ form.last_name.label }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12 col-sm-12">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-100">
                                        {% if form.password.errors %}
                                            {% render_field form.password class+="mdl-textfield__input" id="id_password" %}
                                            <span class="mdl-textfield__error text-danger">
                                                {% for error in form.password.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </span>
                                        {% else %}
                                            {% render_field form.password class+="mdl-textfield__input" id="id_password" %}
                                        {% endif %}
                                        <label class="mdl-textfield__label focused__color__light_cyan material_fix label_placeholder" for="id_password">
                                            <i class="mdi mdi-textbox-password mr-1"></i>{{ form.password.label }}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-100">
                                        {% if form.password_confirmation.errors %}
                                            {% render_field form.password_confirmation class+="mdl-textfield__input" id="id_password_confirmation" %}
                                            <span class="mdl-textfield__error text-danger">
                                                {% for error in form.password_confirmation.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </span>
                                        {% else %}
                                            {% render_field form.password_confirmation class+="mdl-textfield__input" id="id_password_confirmation" %}
                                        {% endif %}
                                        <label class="mdl-textfield__label focused__color__light_cyan material_fix label_placeholder" for="id_password_confirmation">
                                            <i class="mdi mdi-textbox-password mr-1"></i>{{ form.password_confirmation.label }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button class="rounded-pill app__button button--cyan mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit" >
                                    Registrarse
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <a class="app__link" href="{% url 'users:login' %}"> Ya tengo cuenta </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}