.material_fix {
  &.label_placeholder {
    font-size: 18px;
    display: flex;
    &::after {
      bottom: 12px;
      left: 50%;
    }
    @each $name, $color in $project_colors {
      &.focused__color__#{$name + ""} {
        &::after {
          background-color: $color;
        }
      }
    }
  }
}

.is-focused,
.is-dirty {
  .material_fix {
    &.label_placeholder {
      font-size: 16px;
      top: 0;

      @each $name, $color in $project_colors {
        &.focused__color__#{$name + ""} {
          color: $color;

          &::after {
            background-color: $color;
          }
        }
      }
    }
  }
}

// .mdl-button--raised {
//   &:focus:not(:active) {
//     background: rgba(158, 158, 158, 0.2);
//     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
//                 0 3px 1px -2px rgba(0, 0, 0, 0.2),
//                 0 1px 5px 0 rgba(0, 0, 0, 0.12);
//   }
// }
// .mdl-button {
//   &:focus:not(:active) {
//     @each $name, $color in $project_colors {
//       &.button--#{$name + ""} {
//         background-color: $color;
//       }
//     }
//   }
// }
