{% load static %}

{% comment %} Icono {% endcomment %}
<link rel="shortcut icon" type="image/png" href="{% static 'images/icon.png' %}"/>


{% comment %} <link rel="stylesheet" href="{% static 'css/bootstrap_custom.min.css' %}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'css/materialdesignicons.min.css' %}">
{% comment %} <link rel="stylesheet" href="{% static 'css/material_lite/material_custom.css' %}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">