<div v-for="(item, index) in formMaterials" class="p-4 border border-dark container" :key="index">
    <div class="row">
        <p class="col-5">
            Nombre: [[item.name]]
        </p>

        <div class="col-5">
            <label :for="'amount' + index">Cantidad </label>
            <input :id="'amount' + index" type="number" min="1" v-model="item.amount"
                :class="{ 'border-danger': !item.isAmountValid()}">
            <p>[[ unit_system[item.measurement_unit] ]]</p>
        </div>
    </div>
    <div class="row">
        <label :for="'provider_' + index">Proveedor</label>
        <select :id="'provider_' + index" v-model="item.provider">
            <option value="0">Escoge un proveedor</option>
            <option v-for="prov in item.providers_list" :value="prov.pk">[[prov.name]]</option>
        </select>
    </div>
    <div class="row">
        <div class="col-4">
            <label :for="'is_bought_in_dollars' + index">Se compro en dolares</label>
            <input :id="'is_bought_in_dollars' + index" type="checkbox" v-model="item.bought_in_dollars" class="border">
        </div>
        <div class="col-8 row" v-if="item.bought_in_dollars">
            <div class="col-5">
                <label :for="'dollar_coin_' + index">Costo Individual Dolar </label>
                <input :id="'dollar_coin_' + index" type="number" min="0" step="0.001" v-model="item.cost_dollar"
                    class="border" :class="{ 'border-danger': !item.isDollarCostValid()}">
            </div>
            <div class="col-5">
                <p>
                    <b>Costo local: </b>
                    [[item.calculateLocalCost() | roundDecimals(3)]]
                </p>
                <input :id="'local_coin_' + index" :class="{ 'border-danger': !item.isLocalCostValid()}" type="hidden"
                    v-model="item.cost_local">
            </div>
        </div>
        <div class="col-8 row" v-else>
            <div class="col-5">
                <p>
                    <b>Costo dolar: </b>
                    [[item.calculateDolarCost() | roundDecimals(3)]]
                </p>
                <input :id="'dollar_coin_' + index" type="hidden" v-model="item.cost_dollar">
            </div>
            <div class="col-5">
                <label :for="'local_coin_' + index">Costo Individual Local </label>
                <input :id="'local_coin_' + index" class="border" :class="{ 'border-danger': !item.isLocalCostValid()}"
                    type="number" min="0" step="0.001" v-model="item.cost_local">
            </div>
        </div>

    </div>
</div>