{% extends 'layouts/base_app.html' %}
{% load safe_js %} 
{% load static %}

{% block head %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'css/fullcalendar/core.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fullcalendar/daygrid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fullcalendar/bootstrap.min.css' %}">

{% endblock head %}

{% block content %}
    {{ block.super }}
    <div  class="page-content" id="content">
        <div class="container">
            <div class="row">
                <h2>Prueba del Calendario</h2>
                <p>
                    Usando full calendar
                    <a target="_blank" href="https://fullcalendar.io/">
                        Full Calendar
                    </a>
                </p>
            </div>
            <div class="row vh-100">
                <div class="p-4 col-12" style="height: 95%;">
                    <div class="fc-custom" id="calendar"></div>
                </div>
            </div>
            {% for prediction in predictions %}
                <div id="{{prediction.pk}}" class="calendar_box ">
                    Para el {{prediction.date}} se estima
                </div>
            
            {% endfor %}
        </div>
    </div>

{% endblock content %}


{% block javascript %}
    {{ block.super }}

    <script src="{% static 'js/fullcalendar/core.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar/locales-all.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar/daygrid.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar/bootstrap.min.js' %}"></script>

<script>
    var mydate = {{ predictions | safe_js }};

    var template = document.getElementById('lorem');

    document.addEventListener('DOMContentLoaded', function() {

        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'bootstrap', 'dayGrid' ],
            themeSystem: 'bootstrap',
            bootstrapFontAwesome: {
                close: 'fa-times',
                prev: ' mdi mdi-chevron-left mdi-24px',
                next: ' mdi mdi-chevron-right mdi-24px',
                prevYear: ' mdi mdi-undo',
                nextYear: ' mdi mdi-redo'
            },
            header: {
                left: 'prevYear',
                center: ' prev,title,next ',
                right: 'today nextYear'
            },
            height: 'parent',
            locale: 'es',
            selectable: true,
            dayRender: function (dayRenderInfo) {
                // if (dayRenderInfo.date.toDateString() === mydate.toDateString()) {
                //     tem = template.cloneNode(true);
                //     tem.classList.remove("d-none");
                //     dayRenderInfo.el.innerHTML = tem.outerHTML;
                //     console.log(dayRenderInfo);
                // }
            },
        });
        calendar.render();

    });

</script>

{% endblock javascript %}