{% extends 'layouts/base_app.html' %}
{% load safe_js %}
{% load es_money %}
{% load static %}

{% block head %}
{{ block.super }}

<link rel="stylesheet" href="{% static 'css/fullcalendar/core.min.css' %}">
<link rel="stylesheet" href="{% static 'css/fullcalendar/daygrid.min.css' %}">
<style>
    .fc-day-top {
        pointer-events: none;
        z-index: 0;
    }
    .fc-content-skeleton {
        pointer-events: none;
        z-index: 0;
    }
</style>

{% endblock head %}

{% block content %}
{{ block.super }}
<div class="page-content" id="content">
    <div class="container-fluid app__background_gradient--lemon app__viewport">
        <div class="row pt-3 pb-3">
            <div class="col">
                <h3 class="text-center font-weight-bold text-uppercase">
                    Calendario
                </h3>
            </div>
        </div>
        <div class="row mb-3 pt-3 pb-3">
            <div class="col">
                <div class="app__background--white p-2 rounded shadow">
                    {% if user.is_superuser or user.is_staff %}
                        <a
                            href="registerSales"
                            data-toggle="modal"
                            data-target="#registerSales"
                            class="m-1 rounded-pill app__button button--blue mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                        >
                            Registrar Compra
                        </a>
                    {% endif %}
                    <a
                        href="{% url 'sales:sales_list' %}"
                        class="m-1 rounded-pill app__button button--blue mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                    >
                        Lista de Compras
                    </a>
                    <a
                        href="{% url 'predictions:list' %}"
                        class="m-1 rounded-pill app__button button--blue mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                    >
                        Lista de Predicciones
                    </a>
                    <a
                        href="{% url 'predictions:generate' %}"
                        class="m-1 rounded-pill app__button button--cyan mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                    >
                        Realizar Predicción
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="p-3 col-12" style="height: 95%;">
                <div class="app__background--white p-2 rounded shadow">
                    <div class="fc-custom" id="calendar"></div>
                </div>
            </div>
        </div>
        {% for prediction in predictions %}
            <div id="{{prediction.pk}}" class="calendar_box d-none">
                Para el {{prediction.date}} se estima
            </div>
        {% endfor %}
    </div>
    <!-- Modal -->
    <div class="modal fade" id="registerSales" tabindex="-1" role="dialog" aria-labelledby="registerSalesTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerSalesTitle">Registrar Compra</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="mdi mdi-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <ul class="list-group list-group-flush app__nav--system">
                                    <a
                                        class="text-decoration-none list-group-item"
                                        href="{% url 'sales:new_sale' %}"
                                    >
                                        <li class="d-flex justify-content-between align-items-center">
                                            <div class="">
                                                    Registrar compra manualmente
                                            </div>
                                            <i class="mdi mdi-pencil-box-outline app__button--icon"></i>
                                        </li>
                                    </a>
                                    <a
                                        class="text-decoration-none list-group-item"
                                        href="{% url 'sales:upload_file' %}"
                                    >
                                        <li class="d-flex justify-content-between align-items-center">
                                            <div class="">
                                                    Cargar compras en formato csv
                                            </div>
                                            <i class="mdi mdi-file-document app__button--icon"></i>
                                        </li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for key, value in salesObj.items %}
        <div id="salesCalendar_{{key}}" class="d-none">
            <span style="z-index: 4;pointer-events: all;">
                {% if value.sale %}
                    <a
                        href="sale_{{key}}"
                        id="tooltip_{{key}}"
                        data-toggle="modal"
                        tooltip="tooltip"
                        data-target="#salesCalendarModal_{{key}}"
                        class="app__button--icon icon--calendar_sale ml-1"
                        data-placement="left"
                        title="Compras"
                    >
                        <i class="mdi mdi-cart"></i>
                    </a>
                {% endif %}
                {% if value.pred %}
                    <a
                        href="pred_{{key}}"
                        id="tooltip_{{key}}"
                        data-toggle="modal"
                        tooltip="tooltip"
                        data-target="#salesCalendarModal_{{key}}"
                        class="app__button--icon icon--calendar_pred ml-1"
                        data-placement="left"
                        title="Predicciones"
                    >
                        <i class="mdi mdi-chart-line"></i>
                    </a>
                {% endif %}
                {% if value.expire %}
                    <a
                        href="pred_{{key}}"
                        id="tooltip_{{key}}"
                        data-toggle="modal"
                        tooltip="tooltip"
                        data-target="#salesCalendarModal_{{key}}"
                        class="app__button--icon icon--calendar_expire ml-1"
                        data-placement="left"
                        title="Expiración"
                    >
                        <i class="mdi mdi-information-variant"></i>
                    </a>
                {% endif %}
            </span>
        </div>

        <div class="modal fade" id="salesCalendarModal_{{key}}" tabindex="-1" role="dialog" aria-labelledby="salesCalendarModal_{{key}}Title" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="salesCalendarModal_{{key}}Title">
                            {{key}}
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="mdi mdi-close"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row justify-content-lg-center">
                            {% if value.sale %}
                                <div class="col-12 col-lg-6">
                                    <h6 class="text-center text-uppercase font-weight-bold">
                                        Compras
                                    </h6>
                                    <table class="table table-sm table-hover" style="white-space: nowrap;">
                                        <thead class="font-weight-bold text-uppercase" style="font-size: 12px;">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Materias Primas</th>
                                                <th scope="col">Total ($)</th>
                                                <th scope="col">Total (Moneda local)</th>
                                                <th scope="col" class="text-center">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for sale in value.sale %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>
                                                    <ul class="list-unstyled small">
                                                        {% for relation in sale.materials_sale_relation %}
                                                            <li>
                                                                {{relation.raw_material.name}} ({{ relation.amount}} {{relation.raw_material.measurement_unit}})
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </td>
                                                <td class="font-weight-bold">
                                                    {{sale.total_cost_dollar | floatformat:2}}
                                                </td>
                                                <td class="font-weight-bold">
                                                    {{sale.total_cost_local | floatformat:2}}
                                                </td>
                                                <td class="text-center" style="cursor: default;">
                                                    <a href="{% url 'sales:sale' sale.pk %}"
                                                        class="app__button--icon" title="Detalles">
                                                        <i class="mdi mdi-eye"></i></a>
                                                    {% if user.is_superuser or user.is_staff %}
                                                        <a href="{% url 'sales:update_sale' sale.pk %}"
                                                            class="app__button--icon" title="Editar">
                                                            <i class="mdi mdi-pencil"></i></a>
                                                        <a href="{% url 'sales:delete_sale' sale.pk %}"
                                                            class="app__button--icon icon--trash" title="Eliminar">
                                                            <i class="mdi mdi-trash-can"></i></a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                            {% if value.pred %}
                                <div class="col-12 col-lg-6">
                                    <h6 class="text-center text-uppercase font-weight-bold">
                                        Predicciones
                                    </h6>
                                    <table class="table table-sm table-hover" style="white-space: nowrap;">
                                        <thead class="font-weight-bold text-uppercase" style="font-size: 12px;">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Materias Primas</th>
                                                <th scope="col" colspan="2" class="text-center">Precio Estimado</th>
                                                <th scope="col" class="text-center">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for pred in value.pred %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>
                                                    <ul class="list-unstyled small">
                                                        {% for p in pred.predictions %}
                                                            <li>
                                                                {{p.raw_material.name}}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </td>
                                                <td class="font-weight-bold">
                                                    <ul class="list-unstyled small">
                                                        {% for p in pred.predictions %}
                                                            <li>
                                                                $ {{p.cost_dollar | es_money }}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </td>
                                                <td class="font-weight-bold">
                                                    <ul class="list-unstyled small">
                                                        {% for p in pred.predictions %}
                                                            <li class="text-right">
                                                                {{p.cost_local | es_money }} Bs
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </td>
                                                <td class="text-center" style="cursor: default;">
                                                    <a href="{% url 'predictions:prediction' pred.pk %}"
                                                        class="app__button--icon" title="Gráficas">
                                                        <i class="mdi mdi-chart-bell-curve-cumulative"></i></a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                        {% if value.expire %}
                            <div class="row justify-content-lg-center">
                                <div class="col-12 col-lg-6">
                                    <h6 class="font-weight-bold text-uppercase text-center">
                                        Materias primas que expiran hoy
                                    </h6>
                                    <table class="table table-sm table-hover" style="white-space: nowrap;">
                                        <thead class="font-weight-bold text-uppercase" style="font-size: 12px;">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Materias Primas</th>
                                                <th scope="col" colspan="2" class="text-center">Fecha de Compra</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for m in value.expire %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>
                                                    {{m.material.raw_material.name}}
                                                </td>
                                                <td class="font-weight-bold">
                                                    {{m.sale_date}}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}

{% block javascript %}
{{ block.super }}

<script src="{% static 'js/fullcalendar/core.min.js' %}"></script>
<script src="{% static 'js/fullcalendar/locales-all.min.js' %}"></script>
<script src="{% static 'js/fullcalendar/daygrid.min.js' %}"></script>
<script src="{% static 'js/fullcalendar/bootstrap.min.js' %}"></script>

<script>
    var dates = {{ salesJs | safe_js }};

    function formatDate(date) {
        let day = date.getDate();
        let month = date.getMonth() + 1;
        let year = date.getFullYear();

        let d = '';
        let m = '';
        if (month < 10) {
            m = '0' + month;
        } else {
            m = month;
        }
        if (day < 10) {
            d = '0' + day;
        } else {
            d = day;
        }
        return year + '-' + m + '-' + d;
    }

    document.addEventListener('DOMContentLoaded', function () {

        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['bootstrap', 'dayGrid'],
            themeSystem: 'bootstrap',
            bootstrapFontAwesome: {
                close: 'fa-times',
                prev: ' mdi mdi-chevron-left mdi-24px',
                next: ' mdi mdi-chevron-right mdi-24px',
                prevYear: ' mdi mdi-undo',
                nextYear: ' mdi mdi-redo'
            },
            header: {
                left: 'prevYear',
                center: ' prev,title,next ',
                right: 'today nextYear'
            },
            height: 'parent',
            locale: 'es',
            selectable: true,

            datesRender: function (info) {
                try {
                    let contenedorToday = Array.from(
                        document.getElementsByClassName("fc-today")
                    )[0];

                    contenedorToday.classList.add("calendar-day--today");
                } catch (error) {
                }
                $(function () {
                    $('[tooltip="tooltip"]').tooltip('enable')
                })
            },

            dayRender: function (dayRenderInfo) {
                formated_date = formatDate(dayRenderInfo.date)

                if (dates[formated_date]) {
                    //console.log(dates[formated_date]);
                    //console.log(formated_date);

                    let template = document.getElementById('salesCalendar_' + formated_date);

                    let tem = template.cloneNode(true);
                    tem.classList.remove("d-none");
                    dayRenderInfo.el.classList.add("calendar-day--sale");

                    dayRenderInfo.el.innerHTML = tem.innerHTML;
                }
            },
        });
        calendar.render();
    });

</script>
<script src="{% static 'js/calendar_custom.js' %}"></script>

{% endblock javascript %}