{% extends 'layouts/base_app.html' %}

{% load es_money %}

{% block content %}
{{block.super}}

<div class="page-content" id="content">
    <div class="container-fluid app__background_gradient--lemon app__viewport">
        <div class="row pt-3 pb-3">
            <div class="col">
                <a href="{% url 'sales:calendar' %}"
                   title="Volver"
                   class="app__button--icon button--back mdl-button mdl-js-button mdl-button--icon position-absolute">
                    <i class="mdi mdi-arrow-left"></i>
                </a>
                <h3 class="text-center font-weight-bold text-uppercase">
                    Lista de Compras
                </h3>
            </div>
        </div>
        <div class="row mb-3 pt-3 pb-3">
            <div class="col">
                <div class="app__background--white p-2 rounded shadow">
                    <a
                        href="registerSales"
                        data-toggle="modal"
                        data-target="#registerSales"
                        class="m-1 rounded-pill app__button button--blue mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                    >
                        Registrar Compra
                    </a>
                    <a
                        href="{% url 'sales:calendar' %}"
                        class="m-1 rounded-pill app__button button--blue mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                    >
                        Calendario
                    </a>
                    <a
                        href="{% url 'predictions:generate' %}"
                        class="m-1 rounded-pill app__button button--cyan mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                    >
                        Realizar Predicción
                    </a>
                </div>
            </div>
        </div>
        <div class="row pt-2 pb-3">
            <div class="col-12 m-auto">
                <div class="app__background--white p-2 rounded shadow">
                    <div class="table-responsive-lg">
                        <table class="table table-sm table-hover" style="white-space: nowrap;">
                            <thead class="font-weight-bold text-uppercase" style="font-size: 12px;">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Total ($)</th>
                                    <th scope="col">Total (Moneda local)</th>
                                    <th scope="col">Materias Primas</th>
                                    <th scope="col" class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sale in object_list %}
                                <tr>
                                    <th scope="row">{{ forloop.counter | add:page_counter }}</th>
                                    <td>{{sale.date}}</td>
                                    <td class="font-weight-bold">
                                        {{sale.total_cost_dollar | es_money}}
                                    </td>
                                    <td class="font-weight-bold">
                                        {{sale.total_cost_local | es_money}}
                                    </td>
                                    <td>
                                        <ul class="list-unstyled small">
                                            {% for relation in sale.materials_sale_relation %}
                                                <li>
                                                    {{relation.raw_material.name}} ({{ relation.amount}} {{relation.raw_material.measurement_unit}})
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td class="text-center" style="cursor: default;">
                                        <a href="{% url 'sales:sale' sale.pk %}"
                                           class="app__button--icon" title="Detalles">
                                            <i class="mdi mdi-eye"></i></a>
                                        <a href="{% url 'sales:update_sale' sale.pk %}"
                                           class="app__button--icon" title="Editar">
                                            <i class="mdi mdi-pencil"></i></a>
                                        <a href="{% url 'sales:delete_sale' sale.pk %}"
                                           class="app__button--icon icon--trash" title="Eliminar">
                                            <i class="mdi mdi-trash-can"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if is_paginated %}
                    <nav aria-label="Page navigation example" class="pt-2">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item app__page-item">
                                    <a
                                        class="page-link"
                                        href="?page={{ page_obj.previous_page_number }}"
                                        aria-label="Previous"
                                    >
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">
                                    <span class="page-current">
                                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                                    </span>
                                </a>
                            </li>
                            {% if page_obj.has_next %}
                                <li class="page-item app__page-item">
                                    <a
                                        class="page-link"
                                        href="?page={{ page_obj.next_page_number }}"
                                        aria-label="Next"
                                    >
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% comment %} <div class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a href="/cars?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}
                            <span class="page-current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                                <a href="/cars?page={{ page_obj.next_page_number }}">next</a>
                            {% endif %}
                        </span>
                    </div> {% endcomment %}
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="registerSales" tabindex="-1" role="dialog" aria-labelledby="registerSalesTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerSalesTitle">Registrar Compra</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="mdi mdi-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <ul class="list-group list-group-flush app__nav--system">
                                    <a
                                        class="text-decoration-none list-group-item"
                                        href="{% url 'sales:new_sale' %}"
                                    >
                                        <li class="d-flex justify-content-between align-items-center">
                                            <div class="">
                                                    Registrar compra manualmente
                                            </div>
                                            <i class="mdi mdi-pencil-box-outline app__button--icon"></i>
                                        </li>
                                    </a>
                                    <a
                                        class="text-decoration-none list-group-item"
                                        href="{% url 'sales:upload_file' %}"
                                    >
                                        <li class="d-flex justify-content-between align-items-center">
                                            <div class="">
                                                    Cargar compras en formato csv
                                            </div>
                                            <i class="mdi mdi-file-document app__button--icon"></i>
                                        </li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}