{% extends 'layouts/base_app.html' %}

{% block content %}
{{ block.super }}
<div class="page-content" id="content">
    <h1>Compra individual</h1>
    <p>Creado por {{sale.company.user}}</p>
    <p>Fecha {{sale.created}}</p>
    <p>Precio del Dolar:  <b>{{sale.dollar_price}}</b></p>
    <div>
        <ul>
            {% for relation in sale.materials_sale_relation %}
                <li>
                    <p>
                    <p>Se compro en dolares:  <b>{{relation.bought_in_dollars}}</b></p>
                        {{ relation.amount}} {{relation.raw_material.measurement_unit}} {{relation.raw_material.name}}
                    </p>
                    <p>Proveedor {{ relation.provider}}</p>
                    <p>
                        Precio de 1 {{relation.raw_material.measurement_unit}}
                        <p>
                            Dolares: {{ relation.cost_dollar}}
                        </p>
                        <p>
                            Local: {{ relation.cost_local}}
                        </p>
                    </p>
                </li>
            {% endfor %}
        </ul>
    </div>
    <p>Total dolares: {{sale.total_cost_dollar}}</p>
    <p>Total local: {{sale.total_cost_local}}</p>
</div>
{% endblock content %}