{% extends 'layouts/base_app.html' %}
{% load widget_tweaks %}
{% load safe_js %}

{% load static %}

{% block head %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">

{% endblock head %}


{% block content %}
{{block.super}}
<div class="page-content sales__form" id="content">
    <h1>
        {% if editing %}
            Editando Venta
        {% else %}
            Creando Venta
        {% endif %}
    </h1>
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="d-flex flex-row align-items-center">
            <i class="app__icon--alert mdi mdi-alert text-danger"></i>
            <p class="app__form--error text-danger mb-0 ml-3">
                {{ error }}
            </p>
        </div>
    {% endfor %}
{% endif %}
{% comment %} Formulario  {% endcomment %}
    <form id="sale_form" ref="form" action="{{form_url}}" method="POST" >
        {% csrf_token %}
        <input type="hidden" name="company" value="{{company.pk}}" >
        {% if not user.is_superuser %}
            <input type="hidden" name="company_user" value="{{company_user.pk}}" >
        {% endif %}
        <div>
            {{form.dolar_price.label_tag}}
            {% render_field form.dolar_price v-model="dolar_price" %}

        </div>

        <div>
            {{form.raw_materials.label_tag}}
            <p> {% render_field form.raw_materials  v-model="materials" class+="selectpicker col-8 mx-4" multiple="" data-live-search="true" title="Escoge las materias primas" %}</p>
        </div>
        <div class="app__background--gray-300 d-flex flex-column overflow-y-scroll materials__list">
            <div v-for="(item, index) in selectedMaterials" class="p-4 border border-dark container"
                :key="index">
                <div class="row">
                    <p class="col-5">
                        Nombre: [[item.name]]
                    </p>

                    <div class="col-5">
                        <label :for="'amount' + index">Cantidad </label>
                        <input :id="'amount' + index" type="number" min="1" v-model="item.amount">
                        <p>[[ unit_system[item.measurement_unit] ]]</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label :for="'bought_in_dollars' + index">Se compro en dolares</label>
                        <input :id="'bought_in_dollars' + index" type="checkbox" v-model="item.bought_in_dollars">
                    </div>
                    <div class="col-4">
                        <label :for="'dollar_coin' + index">Costo Individual Dolar </label>
                        <input :id="'dollar_coin' + index" type="number" min="1" v-model="item.dollar_cost">
                    </div>
                    <div class="col-4">
                        <label :for="'local_coin' + index">Costo Individual Local </label>
                        <input :id="'local_coin' + index" type="number" min="1" v-model="item.local_cost">
                    </div>
                </div>
            </div>

        </div>

        <span> Si este no es el costo final cambielo a mano</span>
        <div>
            <label for="">Costos finales manuales</label>
            <input type="text">
        </div>
        <div>
            {{form.total_cost_dollar.label_tag}}
            <p> {% render_field form.total_cost_dollar%}</p>
        </div>
        
        <div>
            {{form.total_cost_local.label_tag}}
            <p> {% render_field form.total_cost_local%}</p>
        </div>

        <input type="hidden" name="raw_materials_json" :value="parsedMaterials" >
        {% comment %} {% for error in form.raw_materials_json.errors %}
            {{ error }}
        {% endfor %} {% endcomment %}
        <button type="submit" > Guardar</button>
    </form>

</div>

{% endblock content %}

{% block javascript %}
    {{block.super}}
    <script src="{% static 'js/bootstrap_select/bootstrap-select.min.js' %}"></script>
<script>
var app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    data: {
        materials: [],
        dolar_price: document.getElementById('id_dolar_price').value,
        raw_materials: {{ raw_materials | safe }},
        unit_system: {{unit_system | safe_js}},
        dolar_convertion_factor: 1,
    },
    methods: {
        get_total_cost: function(){

        },
        onSubmit: function(){
            //this.parseAllMaterials();
            console.log("Intento de submit");
            //document.getElementById("sale_form").submit()
            this.$refs.form.submit();
        }
    },
    computed: {
        parsedMaterials: function(){
            return JSON.stringify(this.selectedMaterials);
        },
        selectedMaterials: function() {
            let selected = Array(this.materials.length)
            let self = this;
            for (let i = 0; i < this.materials.length; i++) {
                selected[i] = this.raw_materials.find(function(el) {
                    return el.pk === parseInt(self.materials[i]);
                });
            }
            return selected
        },

    }
});

</script>
{% endblock javascript %}