{% extends 'layouts/base_app.html' %}
{% load widget_tweaks %}
{% load safe_js %}
{% load es_money %}

{% load static %}

{% block head %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">

{% endblock head %}

{% block content %}
{{block.super}}
<div class="page-content sales__form" id="content">
    <div class="container-fluid app__background_gradient--lemon app__viewport">
        <div class="row pt-3 pb-3">
            <div class="col">
                <a href="{% url 'sales:sales_list' %}"
                   title="Volver"
                   class="app__button--icon button--back mdl-button mdl-js-button mdl-button--icon position-absolute">
                    <i class="mdi mdi-arrow-left"></i>
                </a>
                <h4 class="text-center font-weight-bold text-uppercase">
                    {% if editing %}
                        Editar Compra
                    {% else %}
                        Crear Compra
                    {% endif %}
                </h4>
            </div>
        </div>
        {% comment %} <div class="row mb-3 pt-3 pb-3 pl-2 pr-2 app__border--gray-200 app__background--white">
            <div class="col pl-3 pr-1 app__vertical_border--red">
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="d-flex flex-row align-items-center">
                            <i class="app__icon--alert mdi mdi-alert text-danger"></i>
                            <p class="app__form--error text-danger mb-0 ml-3">
                                {{ error }}
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div> {% endcomment %}
        {% comment %} Formulario  {% endcomment %}
        <div class="row pb-3">
            <div class="col-12 col-lg-10 m-auto">
                <div class="card app__background--gray-100 shadow">
                    <div class="card-body">
                        <div class="container-fluid">
                            {% if form.non_field_errors %}
                                <div class="row mb-3 pt-3 pb-3 pl-2 pr-2">
                                    <div class="col pl-3 pr-1 app__vertical_border--red">
                                        {% for error in form.non_field_errors %}
                                            <div class="d-flex flex-row align-items-center">
                                                <i class="app__icon--alert mdi mdi-alert text-danger"></i>
                                                <p class="app__form--error text-danger mb-0 ml-3">
                                                    {{ error }}
                                                </p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            <form id="sale_form" ref="form" action="{{form_url}}" method="POST" @submit.prevent="onSubmit" >
                                {% csrf_token %}
                                {% comment %} <input type="hidden" name="company" value="{{company.pk}}" >
                                {% if not user.is_superuser %}
                                    <input type="hidden" name="company_user" value="{{company_user.pk}}" >
                                {% endif %} {% endcomment %}
                                <div class="form-row">
                                    <div class="form-group col-12 col-sm-8 col-md-6 col-lg-4">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-100">
                                            {% render_field form.dollar_price class+="mdl-textfield__input" v-model="dollar_price" step="0.001" %}
                                            <label class="mdl-textfield__label focused__color__dark_blue material_fix label_placeholder" for="">
                                                <i class="mdi mdi-currency-usd mr-1"></i>
                                                {{form.dollar_price.label_tag}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-3 col-sm-12">
                                        <div class="app__form--textfield w-100">
                                            <label class="" for="">
                                                {{form.raw_materials.label_tag}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-9 col-sm-12">
                                        <div class="app__form--select w-100">
                                            {% render_field form.raw_materials v-model="materials" @change="buildMaterials" class+="selectpicker" multiple="" data-live-search="true" title="Selecciona" %}
                                        </div>
                                    </div>
                                </div>
                                <div id="materials_group" class="mb-2 pt-2 pr-2 pl-2 app__border--gray-200 d-flex flex-column overflow-y-scroll materials__list">
                                    {% include 'sales/_selected_sale.html' %}
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-form-label app__text--deep_blue">
                                        Si este no es el costo final esperado, ingrese la cantidad manualmente
                                    </label>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-switch app__form--switch">
                                        {% render_field form.manual_costs v-model="manualFinalCosts" type="checkbox" class="custom-control-input" id="id_cost" @click="updateMdl" %}
                                        <label for="id_cost" class="custom-control-label">
                                            {{form.manual_costs.label_tag}}
                                        </label>
                                    </div>
                                </div>


                                <div v-if="manualFinalCosts" style="min-height: 186px">
                                    <div class="form-row">
                                        <div class="form-group col-12 col-sm-8 col-md-6 col-lg-4">
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-100">
                                                {% render_field form.total_cost_dollar class+="mdl-textfield__input" %}
                                                <label class="mdl-textfield__label focused__color__dark_blue material_fix label_placeholder" for="">
                                                    <i class="mdi mdi-currency-usd mr-1"></i>
                                                    {{form.total_cost_dollar.label_tag}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-12 col-sm-8 col-md-6 col-lg-4">
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-100">
                                                <label class="mdl-textfield__label focused__color__dark_blue material_fix label_placeholder" for="">
                                                    <i class="mdi mdi-currency-usd mr-1"></i>
                                                    {{form.total_cost_local.label_tag}}
                                                </label>
                                                {% render_field form.total_cost_local class+="mdl-textfield__input" %}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div v-else style="min-height: 186px">
                                    <div class="form-row">
                                        <div class="form-group col-12 col-sm-8 col-md-6 col-lg-4">
                                            <div class="app__form--print">
                                                <input type="hidden" name="total_cost_dollar" :value="totalCostDolar">
                                                <label class="" for="">
                                                    <i class="mdi mdi-currency-usd mr-1"></i>
                                                    Costo final dolares
                                                </label>
                                                <p class="pl-1 font-weight-bold">[[totalCostDolar | roundDecimals(2) ]]</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-12 col-sm-8 col-md-6 col-lg-4">
                                            <div class="app__form--print">
                                                <input type="hidden" name="total_cost_local" :value="totalCostLocal" >
                                                <label class="" for="">
                                                    <i class="mdi mdi-currency-usd mr-1"></i>
                                                    Costo final local
                                                </label>
                                                <p class="pl-1 font-weight-bold">[[totalCostLocal | roundDecimals(2) ]]</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col m-auto text-center">
                                    <button type="submit"
                                            class="m-1 rounded-pill app__button button--blue mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                        Guardar
                                    </button>
                                    <a href="{% url 'sales:sales_list' %}"
                                        class="m-1 rounded-pill app__button button--blue mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                                        title="">
                                        Cancelar
                                    </a>
                                    <input type="hidden" name="raw_materials_json" :value="parsedMaterials" >
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}

{% block javascript %}
    {{block.super}}
    <script src="{% static 'js/bootstrap_select/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/sales/sales_form/class.js' %}"></script>
    <script src="{% static 'js/sales/sales_form/functions.js' %}"></script>

<script>

var initial_dolar_price = {{form.dollar_price.value | safe}};

var app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    data: {
        materials: {% if raw_materials_string %}selectedMaterials({{raw_materials_string | safe }}){% elif editing %}{{materials_values | safe}}{% else %}[]{% endif %},
        formMaterials: {% if raw_materials_string %}objectsToRawMaterials({{raw_materials_string | safe }}){% elif editing %}objectsToRawMaterials({{form_materials | safe }}){% else %}[]{% endif %},
        manualFinalCosts: false,
        dollar_price: document.getElementById('id_dollar_price').value,
        raw_materials: {{ raw_materials | safe }},
        unit_system: {{unit_system | safe_js}},
    },
    methods: {
        onSubmit: function(){
            if (this.areMaterialsValid()) {
                this.$refs.form.submit();
            }else{
                window.scrollTo(0, 0);
            }
        },
        areMaterialsValid: function () {
            let valid = true;
            this.formMaterials.forEach(function(el){
                if (! el.isValid()) {
                    valid = el.isValid();
                }
            });
            return valid;
        },
        buildMaterials: function() {
            let selected = Array(this.materials.length);
            let self = this;

            for (let i = 0; i < this.materials.length; i++) {
                let value;
                value = this.formMaterials.find(function (el) {
                    return el.raw_material_pk === parseInt(self.materials[i]);
                });

                if (!value) {
                    value = this.raw_materials.find(function(el) {
                        return el.pk === parseInt(self.materials[i]);
                    });
                }
                if (value instanceof RawMaterial) {
                    selected[i] = value;
                }else{
                    selected[i] = new RawMaterial(
                        0, // relation pk
                        value.pk,// raw material pk
                        value.name, // raw material name
                        1, // amount
                        value.measurement_unit,
                        false, //bought_in_dollars
                        1, //cost_dollar
                        1, //cost_local
                        0, //provider
                        Array.from(value.providers),
                    );
                }
            }

            self.formMaterials = selected;
            self.updateMdl();
            self.updateSelectPicker();

        },
        updateMdl: function(){
            setTimeout(function () {
                componentHandler.upgradeAllRegistered();
            },0);
        },
        updateSelectPicker: function(){
            setTimeout(function () {
                $('.selectpicker').selectpicker();
            },0);
        }
    },
    computed: {
        parsedMaterials: function(){
            // return JSON.stringify(this.formatFormMaterials());
            return JSON.stringify(this.formMaterials);
        },
        totalCostDolar: function() {
            let totalCost = 0;
            this.formMaterials.forEach(function (el) {
                if (el.bought_in_dollars) {
                    totalCost += el.cost_dollar * el.amount;
                } else {
                    totalCost += el.calculateDolarCost() * el.amount;
                }
            });
            return totalCost;
        },
        totalCostLocal: function() {
            return this.totalCostDolar * this.dollar_price;
        },

    },
    filters: {
        roundDecimals: function (x, roundTo) {
            return Number.parseFloat(x).toFixed(roundTo);
        },
        spanish_money: function(value){

        }
    }
});

</script>
{% endblock javascript %}