{% extends 'layouts/base.html' %}

{% block content %}
<h1>Proveedores</h1>
<a href="{% url 'raw_materials:new_provider' %}"> Nuevo Proveedor</a>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Compañia</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for provider in object_list %}
        <tr>
            <td>{{ provider.name }}</td>
            <td>{{ provider.company.name }}</td>
            <td>
                <a  href="{% url 'raw_materials:provider'  provider.id  %}">
                    detalle
                </a>
                <a  href="{% url 'raw_materials:update_provider'  provider.id  %}">
                    editar
                </a>
                <a  href="{% url 'raw_materials:delete_provider'  provider.id  %}">
                    eliminar
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}