{% extends 'layouts/base.html' %}
{% load widget_tweaks %}

{% block content %}
<h1>
{% if editing %}
    Editar proveedor
{% else %}
    Crear proveedor
{% endif %}
</h1>
<a href="{% url 'raw_materials:providers' %}"> Volver</a>

<form action="{{form_url}}" method="POST" >
    {% csrf_token %}
    {{ form.name.label_tag }}
    {% render_field form.name %}
    <input type="hidden" name="company" value="{{company.pk}}" >
    <button type="submit">
        Crear
    </button>
    {% if editing %}
        <a  href="{% url 'raw_materials:provider'  provider.pk  %}">
            detalle
        </a>
        <a  href="{% url 'raw_materials:delete_provider'  provider.pk  %}">
            eliminar
        </a>
    {% else %}
        <a href="{% url 'raw_materials:providers' %}"> 
            Cancelar
        </a>
    {% endif %}
</form>
{% endblock content %}