{% extends 'layouts/base_app.html' %}
{% block content %}
{{ block.super }}
<div class="page-content" id="content">
    <div class="container-fluid app__background_gradient--pastel app__viewport pb-3">
        <div class="row pt-3 pb-3">
            <div class="col">
                <a href="{% url 'raw_materials:providers' %}"
                   title="Volver"
                   class="app__button--icon button--back mdl-button mdl-js-button mdl-button--icon position-absolute">
                    <i class="mdi mdi-arrow-left"></i>
                </a>
                <h4 class="text-center font-weight-bold text-uppercase">
                    Proveedor
                </h4>
            </div>
        </div>
        <div class="row pt-3 pb-3 app__border--gray-200 app__background--white">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col-6 col-md-3 col-lg-2 ml-auto app__text--deep_blue font-italic text-right app__vertical_border--deep_blue">
                            <p>Nombre</p>
                        </div>
                        <div class="col-6 col-md-3 col-lg-2 mr-auto font-weight-bold">
                            <p>{{object.name}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-3 col-lg-2 ml-auto app__text--deep_blue font-italic text-right app__vertical_border--deep_blue">
                            <p class="mb-0">Compañía</p>
                        </div>
                        <div class="col-6 col-md-3 col-lg-2 mr-auto font-weight-bold">
                            <p class="mb-0">{{object.company}}</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row mt-4">
                        <div class="col">
                            <a href="{% url 'raw_materials:update_provider'  object.pk  %}"
                            class="m-1 rounded-pill app__button button--blue mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                editar
                            </a>
                            <a href="{% url 'raw_materials:delete_provider'  object.pk %}"
                            class="m-1 rounded-pill app__button button--red mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                eliminar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}