
<!-- Vertical navbar -->
<div class="vertical-nav app__navigation" id="sidebar" style="z-index: 100;">
  <div class="py-4 px-3 mb-0">
    <a href="#" class="nav--button" id="arrow" onclick="mostrar()">
      <i class="mdi mdi-arrow-left"></i>
    </a>
    <div class="media d-flex align-items-center">
      <div class="media-body app__item--hidden">
        <h4 class="m-0 mt-3 text-light font-weight-bold text-uppercase">
          Estimator
        </h4>
        <div class="app__media pl-2">
          <p class="mt-4 app__text--light_cyan">
            {{ user }}
            {% if user.is_superuser %}
              <i class="mdi mdi-key-variant app__text--yellow ml-1"></i>
            {% elif user.is_staff %}
              <i class="mdi mdi-key-variant text__text--cyan_alt ml-1"></i>
            {% endif %}
          </p>
          <p class="mt-3 app__text--light_cyan">
            {{ user.safe_company }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <p
    class="nav__menu app__item--hidden text-light font-weight-bold text-uppercase px-3 small pb-4 mb-0"
    id="nav_menu"
  >
    Menú
  </p>

  <ul class="nav flex-column mb-0 nav--menu">
    <li class="nav-item">
      <a
        href="{% url 'home' %}"
        class="{% if current_page == "home" %} app__text--cyan app__focused_item {% else %} app__text--light_gray {% endif %}
               app__nav--link nav-link d-flex flex-row align-items-center pl-0"
        data-toggle="Inicio"
      >
        <i class="mdi mdi-home"></i>
        Inicio
      </a>
    </li>
    <li class="nav-item">
      <a
        href="{% url 'sales:calendar' %}"
        class="{% if current_page == "calendar_sale" %} app__text--cyan app__focused_item {% else %} app__text--light_gray {% endif %}
               app__nav--link nav-link d-flex flex-row align-items-center pl-0"
        data-toggle="Calendario Predictor"
      >
        <i class="mdi mdi-calendar"></i>
        Calendario Predictor
      </a>
    </li>
    <li class="nav-item">
      <a
        href="{% url 'raw_materials:materials' %}"
        class="{% if current_page == "materials" %} app__text--cyan app__focused_item {% else %} app__text--light_gray {% endif %}
               app__nav--link nav-link d-flex flex-row align-items-center pl-0"
        data-toggle="Materia Prima"
      >
        <i class="mdi mdi-layers-triple"></i>
        Materia Prima
      </a>
    </li>
    <li class="nav-item">
      <a
        href="{% url 'raw_materials:providers' %}"
        class="{% if current_page == "providers" %} app__text--cyan app__focused_item {% else %} app__text--light_gray {% endif %}
               app__nav--link nav-link d-flex flex-row align-items-center pl-0"
        data-toggle="Proveedores"
      >
        <i class="mdi mdi-bus-multiple"></i>
        Proveedores
      </a>
    </li>
    <li class="nav-item">
      <a
        href="#"
        class="app__nav--link app__text--light_gray nav-link d-flex flex-row align-items-center pl-0"
        data-toggle="Gráficas y Estadísticas"
      >
        <i class="mdi mdi-chart-bar"></i>
        Gráficas y Estadísticas
      </a>
    </li>
    {% comment %} <li class="nav-item">
      <a
        href="{% url 'users:company_users_list' %}"
        class="{% if current_page == "company_users" %} app__text--cyan {% else %} app__text--light_gray {% endif %}
               app__nav--link nav-link d-flex flex-row align-items-center pl-0"
        data-toggle="Usuarios"
      >
        <i class="mdi mdi-account-group"></i>
        Usuarios
      </a>
    </li> {% endcomment %}
    <li class="nav-item">
      <a
        href="{% url 'users:logout' %}"
        class="app__nav--link app__text--light_gray nav-link d-flex flex-row align-items-center pl-0"
        data-toggle="Cerrar Sesión"
      >
        <i class="mdi mdi-logout"></i>
        Cerrar Sesión
      </a>
    </li>
  </ul>
  <a
    href="{% url 'settings:settings' %}"
    class="nav--settings"
    title="Opciones"
  >
    <i class="mdi mdi-settings"></i>
  </a>
</div>
<!-- End vertical navbar -->
