<!-- Vertical navbar -->
<div class="vertical-nav app__navigation" id="sidebar">
  <div class="py-4 px-3 mb-4">
    <a href="#" class="nav--button">
      <i class="mdi mdi-arrow-left"></i>
    </a>
    <div class="media d-flex align-items-center">
      <div class="media-body">
        <h4 class="m-0 text-light">Estimator</h4>
      </div>
    </div>
  </div>

  <p class="text-light font-weight-bold text-uppercase px-3 small pb-4 mb-0">
    Menú
  </p>

  <ul class="nav flex-column mb-0 nav--menu">
    <li class="nav-item">
      <a href="#" class="nav-link text-light">
        Calendario Predictor
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-light">
        Materia Prima
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-light">
        Proveedores
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-light">
        Gráficas y Estadísticas
      </a>
    </li>
  </ul>
  <a href="#" class="nav--settings">
      <i class="mdi mdi-settings"></i>
    </a>

  {% comment %} <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">
    Charts
  </p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
        <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
        Area charts
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
        <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
        Bar charts
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
        <i class="fa fa-pie-chart mr-3 text-primary fa-fw"></i>
        Pie charts
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
        <i class="fa fa-line-chart mr-3 text-primary fa-fw"></i>
        Line charts
      </a>
    </li>
  </ul> {% endcomment %}
</div>
<!-- End vertical navbar -->
