{% extends 'layouts/base_app.html' %}

{% block content %}
{{block.super}}
<div  class="page-content" id="content">
    <h1>
        Lista de materia prima
    </h1>
    <a href="{% url 'raw_materials:new_material' %}"> Nueva Materia Prima</a>
    
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Proveedores</th>
                <th>Unidad de Medida</th>
                <th>Puede Expirar</th>
                <th>Tiempo en Expirar</th>
                <th>Es importado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for material in object_list %}
            <tr>
                <td>{{ material.name }}</td>
                <td>
                {% for provider in material.providers.all %}
                    <b>{{provider}}</b>
                {% endfor %}
                </td>
                <td>{{ material.measurement_unit }}</td>
                <td>
                    {% if material.can_expire %}Si{% else %}No{% endif %}
                </td>
                <td>
                    {% if material.can_expire %}
                        {% if material.years_to_expire > 0  %}
                            {{ material.years_to_expire }} años
                        {% endif %}
                        {% if material.months_to_expire > 0 %}
                            {{ material.months_to_expire }} meses
                        {% endif %}
                        {% if material.days_to_expire > 0 %}
                            {{ material.days_to_expire }} días
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if material.is_imported %}
                        Si
                    {% else %}
                        No
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'raw_materials:material' material.pk %}">
                        Detalle
                    </a>
                    <a href="{% url 'raw_materials:update_material' material.pk %}">
                        Editar
                    </a>
                    <a href="{% url 'raw_materials:delete_material' material.pk %}">
                        Eliminar
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}