{% extends 'layouts/base.html' %}

{% block content %}
<div class="bg__black_gradient scrollbar_alt d-flex justify-content-center align-items-md-center align-items-start vh-100 overflow-y-scroll p-4">
    <div class="card m-4" style="width: 25rem;">
        <div class="card-body">
            <div class="container-fluid">
                <div class="row pb-3">
                    <div class="col-12 m-auto">
                        <h4 class="text-center font-weight-bold text-uppercase app__text--red">
                            Eliminar Materia Prima
                        </h4>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col pt-1 pb-1">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group text-center">
                                <p class="">
                                    ¿Está seguro de eliminar a <span class="font-weight-bold">{{ object }}</span> de la lista?
                                </p>
                            </div>
                            <div class="col m-auto text-center">
                                <div class="d-flex flex-row justify-content-center">
                                    <button title="Continuar"
                                            class="m-1 rounded-pill app__button button--fab button--cyan mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect" type="submit">
                                        <i class="mdi mdi-check"></i>
                                    </button>
                                    <a title="Cancelar"
                                       class="m-1 rounded-pill app__button button--fab button--red mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect"
                                       href="{% url 'raw_materials:materials' %}">
                                        <i class="mdi mdi-close"></i>
                                    </a>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-0">
                        <div class="d-flex flex-row justify-content-start">
                            <a title="Detalles"
                               class="m-1 rounded-pill app__button button--fab button--blue mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect"
                               href="{% url 'raw_materials:material'  object.pk  %}">
                                <i class="mdi mdi-eye"></i>
                            </a>
                            </form>
                            <a title="Editar"
                               class="m-1 rounded-pill app__button button--fab button--blue mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect"
                               href="{% url 'raw_materials:update_material'  object.pk  %}">
                                <i class="mdi mdi-pencil"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}