{% extends 'layouts/base_app.html' %} {% block content %}
{{ block.super }}
<div class="page-content" id="content">
  <div class="container-fluid">
    <div class="row pt-3 pb-3">
      <div class="col">
        <h2 class="text-center">
          Bienvenido
        </h2>
      </div>
    </div>
    <div class="row mb-3 pt-2 pb-2 app__background--cyan">
      <div class="col text-light">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
          officiis, magni ipsa assumenda impedit alias! Pariatur error optio
          natus amet numquam, et aliquam reprehenderit modi. Voluptate
          perferendis consequatur reprehenderit illum.
        </p>
      </div>
    </div>
    <div class="row mb-3 pt-2 pb-2">
      <div class="col p-5 text-center" style="z-index: -1">
        <h6 class="text-center font-weight-bold text-uppercase">
          Trabajando...
        </h6>
        <img src="static/images/loader.gif" alt="" class="img-fluid" />
      </div>
    </div>
    <div class="row m-6">
      <h3>Material Lite test</h3>
      <form class="" action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3">Text...</label>
        </div>
      </form>
      <!-- Numeric Textfield with Floating Label -->
      <form class="" action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
          <label class="mdl-textfield__label" for="sample4">Number...</label>
          <span class="mdl-textfield__error">Input is not a number!</span>
        </div>
      </form>
      <input type="text">
    </div>
  </div>
</div>

{% endblock content %}
