{% extends 'layouts/base_app.html' %}
{% block content %}
{{ block.super }}
<div class="page-content" id="content">
  <div class="container-fluid">
    <div class="row pt-3 pb-3">
      <div class="col">
        <h3 class="text-center font-weight-bold text-uppercase">
          Bienvenido
        </h3>
      </div>
    </div>
    <div class="row mb-3 pt-2 pb-2 app__background--cyan">
      <div class="col text-light">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
          officiis, magni ipsa assumenda impedit alias! Pariatur error optio
          natus amet numquam, et aliquam reprehenderit modi. Voluptate
          perferendis consequatur reprehenderit illum.
        </p>
      </div>
    </div>
    <div class="row app__background--gray-300 rounded m-4 p-2">
      <div class="col-12">
        <h3>Ultima prediccion hecha el XX/XX/XX</h3>
        <p>
          La prediccion recomienda comprar el XX/XX/XX
        </p>
        <ul>
          <li>
            40 Lorem , precio aprox ***** local , **$
          </li>
          <li>
            40 Lorem , precio aprox ***** local , **$
          </li>
          <li>
            40 Lorem , precio aprox ***** local , **$
          </li>
          <li>
            40 Lorem , precio aprox ***** local , **$
          </li>
        </ul>
        <p>
          Precio total aproximado de la compra : *******$
        </p>
      </div>
    </div>
    {% comment %}
    <div class="row mb-3 pt-2 pb-2">
      <div class="col p-5 text-center">
        <h6 class="text-center font-weight-bold text-uppercase">
          Trabajando...
        </h6>
        <img src="static/images/loader.gif" alt="" class="img-fluid" />
      </div>
    </div>
    <div class="row m-6">
      <h3 class="col-12">Material Lite test</h3>
      <form class="col-3" action="#">
        <div
          class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
        >
          <input class="mdl-textfield__input" type="text" id="sample3" />
          <label
            class="
              focused__color__cyan
              mdl-textfield__label
              material_fix
              label_placeholder "
            for="sample3"
            ><i class="mdi mdi-home"></i>Text</label
          >
        </div>
      </form>
      <!-- Numeric Textfield with Floating Label -->
      <form class="col-3" action="#">
        <div
          class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
        >
          <input
            class="mdl-textfield__input"
            type="text"
            pattern="-?[0-9]*(\.[0-9]+)?"
            id="sample4"
          />
          <label
            class="mdl-textfield__label material_fix label_placeholder"
            for="sample4"
            >Number...</label
          >
          <span class="mdl-textfield__error">Input is not a number!</span>
        </div>
      </form>
      <p class="d-flex align-baseline">
        HOLA
        <i class="mdi mdi-home"></i>
      </p>
      <!-- Raised button with ripple -->
      <button
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
      >
        Button
      </button>
      <button
        class="bg-primary text-white mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect "
      >
        hey
      </button>
    </div>
    {% endcomment %}
  </div>
</div>

{% endblock content %}
