{% extends 'layouts/base_app.html' %}
{% block content %}
{% load es_money %}

{{ block.super }}
<div class="page-content" id="content">
  <div class="container-fluid app__background_gradient--lemon vh-100 overflow-y-scroll">
    <div class="row pt-3 pb-3">
      <div class="col">
        <h3 class="text-center font-weight-bold text-uppercase">
          Bienvenido
        </h3>
      </div>
    </div>
    <div class="row mb-3 pt-2 pb-2 app__background--cyan">
      <div class="col text-light">
        
          <h4>
            <b>Estimador. </b>Registra tus compras de materia prima para realizar una prediccion de sus costos y cantidad a comprar.
          </h4>
        
      </div>
    </div>
    <div class="row app__background--gray-300 rounded m-4 p-2">
      {% if prediction %}
        <div class="col-12">
          <h3>Ultima prediccion hecha el {{prediction.created.date}}</h3>
          <p>
            La prediccion se hizo para predecir el comportamiento de las materias primas el <b class="h4">{{prediction.prediction_date}}</b>
          </p>
          <p>Se estimo el precio del dolar a <b>{{prediction.dollar_price | es_money }} Bs</b></p>
          <p>Se busco predecir las siguientes materias primas:</p>
          <ul class="list-group list-group-flush app__background--gray-300">
            {% for pred in prediction.predictions %}
              <li class="list-group-item app__background--gray-300">
                Para <b>{{pred.raw_material}}</b> se estima: 
                <div>
                  comprar <b>{{pred.amount}} {{pred.raw_material.unit_name}}</b>
                </div>
                <div>
                  con un costo individual en dolares de <b>$ {{pred.cost_dollar | es_money }}</b>
                </div>
                <div>
                  y con costo individual en en la moneda local a <b>{{pred.cost_local | es_money }} Bs</b>
                </div>
              </li>
            {% endfor %}
          </ul>
          <p>
            Precio total aproximado de la compra: 
            <div>
              En dolares <b>$ {{prediction.total_dollar | es_money }}</b>
            </div>
            <div>
              En moneda local <b>{{prediction.total_local | es_money }} Bs</b>
            </div>
          </p>
        </div>
      {% else %}
        <div class="col-12">
          <h3>No hay nada que ver aquí.</h3>
          <p>
            Registra tus compras y realiza una predicción para ver aquí la ultima prediccion realizada.
          </p>
        </div>
      {% endif %}


    </div>
  </div>
</div>

{% endblock content %}
